<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut aspernatur laudantium sit facere suscipit officiis neque velit corporis explicabo, quas maxime quam repudiandae voluptas ducimus dicta saepe delectus! Unde adipisci odio delectus sed repellat excepturi, eius fugiat labore qui amet!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut aspernatur laudantium sit facere suscipit officiis neque velit corporis explicabo, quas maxime quam repudiandae voluptas ducimus dicta saepe delectus! Unde adipisci odio delectus sed repellat excepturi, eius fugiat labore qui amet!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut aspernatur laudantium sit facere suscipit officiis neque velit corporis explicabo, quas maxime quam repudiandae voluptas ducimus dicta saepe delectus! Unde adipisci odio delectus sed repellat excepturi, eius fugiat labore qui amet!</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>